@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

.parallax {
  position: relative;
  overflow: hidden;
}

.parallax .scroller {
  font-family: "Unbounded" !important;
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 7rem;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.parallax .scroller span {
  flex-shrink: 0;
}

.parallax .REAL {
  color: #F44336;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}