.text-rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
  padding: 0.5rem 1rem;
  background-color: #4288f1;
  color: black;
  font-weight: 600;
  overflow: hidden;
  border-radius: 1rem;
  max-width: max-content;
  transition: width .2s ease;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
  overflow: hidden;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}