@import "./Variables.scss";

div.chapterMember {
    z-index: 66;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 4rem;
    min-height: 60vh;

    overflow: hidden;

    // max-height: min(95vh, 400px) !important;
    // background: rgba(white, .04);
    border-radius: 16px;
    backdrop-filter: blur(2px);
    padding: 2rem 4rem;
    display: flex;
    gap: 4rem;
    opacity: 0;
    transform: translateY(20%);
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.visible {
        opacity: 1;
        transform: translateY(10%);
    }

    .chapterMemberName {
        font-size: clamp(0.7rem, 0.4391rem + 3.8261vw, 2.5rem);
    }

    .shine {
        transition: transform 0.8s ease;
        animation: spin 0.8s ease forwards;
    }

    .shine:after {
        border-radius: 16px;
        content: "";
        position: relative;
        display: inline-block;
        height: 99%;
        width: 100%;
        top: -100%;
        left: 0;
        background: linear-gradient(
            45deg,
            transparent 50%,
            rgba(255, 255, 255, 0.23) 58%,
            rgba(255, 255, 255, 0.35) 67%,
            transparent 68%
        );
        background-size: 600% 100%;
        background-position: 100% 0;
        transition: 0.8s;
        overflow: hidden;
    }

    .shine:hover:after {
        background-position: 20% 0;
    }

    img.chapterMemberImage {
        min-height: 100%;
        width: 300px;
        border-radius: 12px;
        object-fit: cover;
        transition-property: filter, box-shadow;
        transition-duration: 100ms;
    }

    div.chapterMemberDetails {
        // height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.7rem;

        div.chapterMemberTopDetails {
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 0.4rem;

            .chapterMemberName {
                font-size: clamp(0.7rem, 0.4391rem + 3.8261vw, 2.3rem);
            }

            .chapterMemberRole {
                font-size: clamp(0.5rem, 0.4391rem + 3.4261vw, 1.7rem);
                font-weight: 500;
            }

            .yearAndDept {
                font-size: 20px;
                opacity: 0.8;
            }

            .chapterMemberId {
                display: flex;
                gap: 0.5rem;
                align-items: center;

                font-size: 18px;
                color: rgba(black, 0.8) !important;

                div.copyIdBtn svg {
                    cursor: pointer;
                    color: black;
                }

                .copyIdBtn {
                    height: 20px;
                    width: 20px;
                    padding: .2rem;

                    svg {
                        transition: transform .1s ease;
                        height: 22px !important;
                        width: 20px !important;
                    }

                    .copy {
                        transform: scale(1);
                    }

                    .check {
                        position: relative;
                        top: -30px;
                        transform: scale(0);
                    }

                    &.copied {
                        .copy {
                            transform: scale(0);
                        }

                        .check {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }

    div.chapterMemberAbout {
        padding: 2rem 0;
        // font-size: 18px;
    }

    div.chapterMemberLinks {
        margin-top: auto;
        display: flex;
        gap: 1rem;

        .linkIcon {
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        @for $i from 1 through 11 {
            .linkIcon:nth-child(#{$i}) {
                transition-delay: #{$i * 0.1}s !important;
            }
        }

        &.visible {
            .linkIcon {
                opacity: 1;
                transform: translateY(0);
            }
        }

        * {
            cursor: pointer;
        }
    }
}

@keyframes spin {
    to {
        transform: rotateY(360deg);
    }
}

@media (max-width: 900px) {
    div.chapterMember {
        // background-color: red !important;
        // max-height: 70px;
        width: 85vw !important;
        padding: 3rem 1rem 0.5rem 1rem;
        // padding-top: 3rem;
        transform: translateY(0);
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        &.visible {
            transform: translateY(5%);
        }

        img.chapterMemberImage {
            min-height: 100%;
            width: 250px;
        }

        // .shine:after {
        //     content: "";
        //     position: relative;
        //     // display: inline-block;
        //     height: 200px;
        //     width: 250px;
        //     // top: -200px;
        //     // left: 0;

        //     // rgba(255, 255, 255, 0.05) 58%,
        //     //     rgba(255, 255, 255, 0.26) 67%,

        //     background: linear-gradient(
        //         45deg,
        //         transparent 50%,
        //         red,
        //         green,
        //         yellow 68%
        //     );
        //     background-size: 250% 100%;
        //     background-position: 250% 0;
        //     transition: 0.7s;
        //     // overflow: hidden;
        // }
        // .shine:hover:after {
        //     background-position: -20% 0;
        // }

        div.chapterMemberDetails {
            gap: 0.5rem;
        }

        div.chapterMemberTopDetails {
            margin: 0 auto;
            align-items: center;
            gap: 0 !important;
        }

        div.chapterMemberName {
            text-align: center;
        }

        div.chapterMemberName,
        div.chapterMemberRole,
        div.chapterMemberLinks {
            margin: 0 auto;
        }
    }
}
