@import "./Variables.scss";


.out {
    // margin-bottom: 2rem;
}

// div.bubblesBg {
//     // background-image: url("../assets/bubbles_bg_t.svg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100% !important;
//     width: 100% !important;

//     svg {
//         width: 100%;
//     }
// }



div.bubble {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 6%;
    top: 20%;
    // bottom: random($limit: 5);
    // z-index: 1;

    &.blue {
        box-shadow: inset 0 4px 15px 4px rgb(58, 72, 133);
        background: radial-gradient(rgb(49, 65, 237),rgb(42, 59, 247));
    }

    &.red {
        left: 6%;
        top: 70%;
        box-shadow: inset 0 -3px 15px 4px rgb(104, 0, 0);
        background: radial-gradient(rgb(217, 29, 29), rgb(168, 36, 3));
    }

}

div.chapterMember {
    z-index: 66;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 4rem;
    min-height: 60vh;
    
    // max-height: min(95vh, 400px) !important;
    // background: rgba(white, .04);
    border-radius: 16px;
    backdrop-filter: blur(2px);
    padding: 2rem 4rem;
    display: flex;
    gap: 4rem;
    opacity: 0;
    transform: translateY(20%);
    transition: transform .5s ease, opacity .5s ease;

    &.visible {
        opacity: 1;
        transform: translateY(10%);

    }

    .chapterMemberName {
        font-size: clamp(0.7rem, 0.4391rem + 3.8261vw, 2.5rem);
    }

    img.chapterMemberImage {
        // height: 400px;
        min-height: 100%;
        width: 300px;
        border-radius: 6px;
        // box-shadow: -5px 4px .5px .1px darken($text, 30);
        object-fit: cover;
        filter: brightness(.97);
        transition-property: filter, box-shadow;
        transition-duration: 100ms;

        &:hover {
            filter: brightness(1);
        }

        // &:after {
        //     content: "";
        //     position: absolute;
        //       top: -50%;
        //     left: -60%;
        //     width: 20%;
        //     height: 200%;
        //     opacity: 0;
        //     transform: rotate(30deg);
          
        //     background: rgba(255, 255, 255, 0.13);
        //     background: linear-gradient(
        //       to right,
        //       rgba(255, 255, 255, 0.13) 0%,
        //       rgba(255, 255, 255, 0.13) 77%,
        //       rgba(255, 255, 255, 0.5) 92%,
        //       rgba(255, 255, 255, 0.0) 100%
        //     );
        //   }
          
        //   /* Hover state - trigger effect */
        //   &:hover:after {
        //     opacity: 1;
        //     left: 130%;
        //     transition-property: left, top, opacity;
        //     transition-duration: 0.7s, 0.7s, 0.15s;
        //     transition-timing-function: ease;
        //   }
          
        //   /* Active state */
        //   &:active:after {
        //     opacity: 0;
        //   }
          
    }

    div.chapterMemberDetails {
        // height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .7rem;

        div.chapterMemberTopDetails {
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: .4rem;

            .chapterMemberName {
                font-size: clamp(0.7rem, 0.8391rem + 3.8261vw, 2.3rem);
            }

            .chapterMemberRole {
                font-size: clamp(0.5rem, 0.4391rem + 3.4261vw, 1.7rem);
                font-weight: 500;
            }
    
            .yearAndDept {
                font-size: 20px;
                opacity: .8;
            }
    
            .chapterMemberId {
                font-size: 18px;
                opacity: .8;
            }
        }

        
    }

    div.chapterMemberAbout {
        padding: 2rem 0;
    }

    div.chapterMemberLinks {
        margin-top: auto;
        display: flex;
        gap: 1rem;

        .linkIcon {
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        @for $i from 1 through 11 {
            .linkIcon:nth-child(#{$i}) {
                transition-delay: #{$i * 0.1}s !important;
            }
        }

        &.visible {
            .linkIcon {
                opacity: 1;
                transform: translateY(0);
            }
        }

        * {
            cursor: pointer;
        }
    }
}

@media (max-width: 700px) {
    div.chapterMember {
        padding-top: 3rem;
        transform: translateY(0);
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        &.visible {
            transform: translateY(5%);
        }

        div.chapterMemberDetails {
            gap: .5rem;
        }

        div.chapterMemberTopDetails {
            margin: 0 auto;
            align-items: center;
            gap: 0 !important;
        }

        div.chapterMemberName {
            text-align: center;
        }

        div.chapterMemberName,
        div.chapterMemberRole,
        div.chapterMemberLinks {
            margin: 0 auto;
        }
    }
}
