




div.codeHouse {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .instructions {
        width: min(90%, 600px);
        border: 1px solid black;
        border-radius: 8px;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .title {
            font-size: 2rem;
            font-weight: 800;
            text-align: center;
        }

        ol {
            width: 80%;

            li {
                margin-top: .5rem;
            }
        }
    }

    .progressBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 20px;

        .progressBar-thumb {
            height: 100%;
            border-radius: 0 6px 6px 0;
            background: linear-gradient(to right, rgb(77, 199, 77), rgb(61, 162, 61), rgb(72, 209, 72));
            transition: width 2s ease;
        }
    }
}