.Toastify {
    position: relative;
    z-index: 50 !important;
}

.Toastify__toast {
    // background-color: red !important;
}

.Toastify__toast--warning {
    background: #ffe8bc !important;
}
.Toastify__toast--error {
    user-select: all !important;
    // background: #f53639 !important;

    .toastProgress, .progressbar {
    }
}

.Toastify__toast {
    user-select: none;
    cursor: auto;
    // background-color: red;
    border-radius: 8px !important;

    .toastBody {
        color: #10171d;
        // font-size: 0.875rem !important;
    }

    .toastProgress {
        background: #333f48;
    }
}

.Toastify__close-button {
    border: none !important;
    border-radius: 50%;
    min-height: 25px !important;
    min-width: 25px !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(20, 20, 20, .1) !important;
    }

    svg {
        color: black !important;
    }
}
