@import "./Variables.scss";

$leftNavSize: 60px;
$leftNavOpenSize: 240px;

.dashboard {
    font-size: 13px;
    height: 100vh;
    overflow: hidden;


    //
    .notSignedIn {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        button {
            border-radius: 8px;
            padding: .7rem 1.5rem;
            transition: filter .2s ease;
            transition-delay: 0ms !important;

            &:hover {
                filter: brightness(90%);
            }
        }
    }
    //
    
    .leftNav {
        // opacity: 0;
        position: absolute;
        left: 0;
        // top: 0;

        width: $leftNavSize;
        height: 100vh;
        // min-height: 100vh;
        // padding: 0 1rem;

        background-color: $text;
        border-radius: 0 8px 8px 0;
        box-shadow: 0px 3px 15px 4px rgba(black, .2);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        transition: width .3s ease, box-shadow .5s ease;
        transition-delay: 0 !important;

        overflow: hidden;
        pointer-events: none;
        z-index: 9;

        &:hover {
            width: $leftNavOpenSize;
            box-shadow: 0px 3px 15px 7px rgba(black, .5);
        }

        .logo {
            max-width: 60px;
            padding-top: .75rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .icons {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // gap: .25rem;

            .tab {
                all: unset;
                min-height: 30px;
                padding: .5rem 0;
                background-color: transparent;
                pointer-events: auto;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 1rem;
                user-select: none;
                transition: background-color .1s ease;
                transition-delay: 0ms !important;

                &:hover {
                    background-color: rgba(black, .05);
                    color: black !important;
                }

                .icon {
                    min-width: 60px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 30px;
                    }
                }

                .name {
                    min-width: max-content;
                    font-size: small;
                    display: flex;
                    justify-content: center;
                    gap: .6rem;
                }

            }
        }

        .profileImage {
            pointer-events: auto;
            width: 30px;
            padding-bottom: .75rem;
            margin: 0 1rem;

            img {
                cursor: pointer;
                width: 100%;
                border-radius: 50%;
            }
        }
    }

    .rightDivContainer {
            // transform: translateX(calc($leftNavSize / 2));
            padding-left: $leftNavSize;
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
            // padding-left: 100px;
            // height: 90vh;
            height: 98vh;
            // width: 97vw;
            // width: unquote("100% - 100px");
            overflow-y: auto;
            // margin: 0 auto;

        .rightDiv {
            position: relative;
            height: 100%;
            width: 90%;
            // max-height: max-content;
            // height: 100%;
            margin: 3rem auto 0 auto;
    
            .topNav {
                width: 100% !important;
                position: relative;
                display: flex;
                justify-content: flex-end;
                gap: 1rem;

                width: 100%;
                padding: 1rem 0;
                font-weight: 600;
                font-size: large;
    
                a {
                    all: unset;
                    transition-delay: 0ms !important;
                    cursor: pointer;
                }
            }
            
            .greeting {
                // background-color: red;
                display: flex;
                flex-direction: column;
    
                .name {
                    font-size: 24px;
                    font-weight: 600;
                }
    
                .message {
                    font-size: 40px;
                    font-weight: 700;
                }

                .info {
                    margin-top: .5rem;
                    font-size: 15px;
                    font-weight: 500;
                    opacity: .8;
                }
            }
    
            .visuals {
                padding-top: 1.5rem;
                height: 400px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                div {
                    flex: 1;
                    height: 100%;
                    // background-color: rgba(black, .2);
                }

                .scoreCircleDiv {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .scoreCard {
                        height: 95%;
                        // max-height: max-content;
                        max-width: 80%;
                        border-radius: 25px;
                        background: radial-gradient(circle, rgb(121 238 140) 30%, rgb(71 222 84) 100%);
                        // background-color: rgb(71, 222, 84);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        transition: box-shadow .2s ease;
                        transition-delay: 0ms !important;

                        &:hover {
                            box-shadow: 0 0 20px 6px rgba(121, 238, 140, .6);
                        }

                        .topText {
                            flex: .75;
                            padding: 1rem 0 0 .5rem;
                            height: 10px;
                            width: 90%;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }

                        .percentage {
                            flex: 5;
                            max-height: 200px;
                            max-width: 200px;
                            height: 70%;
                            width: 90%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            user-select: none;

                            div[data-test-id="CircularProgressbarWithChildren"] {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            div[data-test-id="CircularProgressbarWithChildren__children"] {
                                max-height: 100%;
                                flex-direction: row !important;
                                fill: rgba(black, .8);
                                font-weight: 700;
                                font-size: 28px;
                            }


                            .CircularProgressbar-path {
                                stroke: rgb(50, 103, 50);
                              }
                              .CircularProgressbar-trail {
                                stroke: rgba(15, 125, 15, .2);
                              }
                              .CircularProgressbar-text {
                                fill: rgba(black, .8);
                                font-weight: 700;
                                font-size: 16px;
                              }
                              .CircularProgressbar-background {
                                fill: green;
                              }
                        }

                        .bottomText {
                            flex: 1;
                            width: 90%;
                            height: 60px;
                            min-height: 60px !important;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-weight: 800;
                            font-size: 20px;
                        }
                    }
                }

                .marksDiv {
                    height: 95%;
                    // background-color: red;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 1rem;
                    
                    span.marksTab {
                        flex: 1;
                        width: 85%;

                        background: linear-gradient(to top, rgba(91, 216, 91, 0.8), rgba(101, 194, 101, 0.8));
                        background-position: 0 100%;
                        background-size: auto 200%;
                        transition: background-position .2s ease;

                        border: 3px solid transparent;
                        border-radius: 12px;
                        
                        display: flex;
                        // flex-direction: column;
                        justify-content: center;
                        // gap: .5rem;

                        &:hover {
                            background-position: 0 0;
                            border-color: rgba(47, 138, 47, .2);
                        }

                        div.marks {
                            flex: 1.3;
                            height: 90%;
                            margin: auto 0;
                            display: flex;
                            flex-direction: column;


                            span.title {
                                flex: 1;
                                background-color: transparent;
                                opacity: .7;
                                // background-color: red;
                                padding-left: 1rem;
                                font-weight: 600;
                                // font-size: larger;
                                display: flex;
                                align-items: center;
                            }
    
                            span.number {
                                flex: 2.5;
                                // background-color: ta;
                                padding-top: 1.5rem;
                                padding-left: 1rem;
                                font-weight: 800;
                                font-size: 30px;
    
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: baseline;
                                gap: .3rem;
    
                                .large {
                                    font-size: 30px;
                                }
    
                                .small {
                                    font-size: large;
                                    opacity: .6;
                                }
                            }

                        }

                        div.icon {
                            flex: 1;
                            background-color: rgba(black, .2);
                        }

                    }
                }

                .bestPerformers {
                    flex: 1.5;
                    border-radius: 12px;
                    height: 100%;
                    overflow: auto;
                    -webkit-mask-image: linear-gradient(to bottom, white 10%, white 90%, transparent);

                    .topBar {
                        height: 70px;
                        font-size: 22px;
                        font-weight: 800;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        button {
                            font-size: 18px;
                            border-radius: 12px;
                            transform: scale(.8);
                            transition: filter .2s ease;
                            transition-delay: 0;

                            &:hover {
                                filter: brightness(.95);
                            }
                        }
                    }

                    .rows {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        // justify-content: center;
                        // align-items: flex-start;

                        .rowContainer {
                            max-height: 90px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 12px;
                            transition: background-color .2s ease;
                            transition-delay: 0ms !important;

                            &:hover {
                                background-color: rgba(black, .05);
                            }

                            &:last-child {
                                margin-bottom: 1rem;
                            }

                            .row {
                                height: 50px;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 1rem;

                                svg {
                                    margin-left: .5rem;
                                }


                                .name {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    
                                    .left, .right {
                                        max-width: max-content;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: flex-start;

                                        a.displayName {
                                            all: unset;
                                            cursor: pointer;
                                            font-size: 18px;
                                            font-weight: 600;

                                            &:hover {
                                                color: $background !important;
                                                text-decoration: underline;
                                            }
                                        }
                                        
                                        div {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            max-width: max-content;

                                            &.dept {
                                                font-size: 14px;
                                                font-weight: 500;
                                                opacity: .7;
                                            }
                                        }
                                    }

                                    .right {
                                        padding: 0 1rem;
                                        align-items: flex-end;

                                        .accuracy {
                                            font-size: 18px;
                                            font-weight: 600;
                                        }

                                        .scored {
                                            font-size: 14px;
                                            font-weight: 500;
                                            opacity: .7;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .leaderboard {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                padding: 2rem 0;

            }

    
        }

    }

}


@property --i {
    syntax: '<color>';
    initial-value: 0;
    inherits: false;
  }


@media (max-width: 850px) {

    .leftNav {
        position: fixed;
        bottom: 0px;
        left: 0;

        flex-direction: row !important;
        justify-content: center;
        align-items: center;

        height: calc($leftNavOpenSize / 3) !important;
        width: 100% !important;

        border-radius: 8px 8px 0 0 !important;
        box-shadow: 0px 3px 15px 4px rgba(black, .2);

        .icons {
            flex-direction: row !important;

            .tab {
                border-radius: 8px !important;

                &:hover {
                    background-color: rgba(black, .08) !important;
                }

                .name {
                    display: none !important;
                }
            }
        }
        
        .profileImage {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 !important;

            img {
                max-width: max-content;
                max-height: max-content;
            }
        }
    }

    .rightDivContainer {
        padding-left: 0 !important;

        .rightDiv {
            height: max-content !important;
            width: 100% !important;

            .greeting {
                margin: 0 2rem;
            }

            .visuals {
                padding-top: 5rem !important;
                flex-direction: column;
                gap: 3rem !important;
                height: max-content !important;
                // background-color: green;
                width: 90% !important;
                margin: 0 auto !important;

        
                .scoreCircleDiv {
                    // background-color: red;
                    min-height: 400px !important;
                    // width: 300px !important;
                    width: min(300px, 80%);
                    justify-content: center !important;
        
                    .scoreCard {
                        max-width: 100% !important;
                        height: 100% !important;
                        min-height: 400px !important;

                    }
                }
        
                .marksDiv {
                    height: 400px !important;
                    width: 55%;

                    span.marksTab {
                        width: 100% !important;
                        min-height: 100px;
                    }
                }
        
                .bestPerformers {
                    width: min(400px, 80%);
                }
            }
        }
    }

    
}