@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;600italic;800;900&display=swap');

.dashboardResults {

    .resultBigTitle {
        font-weight: 900;
        font-size: xx-large;

    }

    .title {
        font-weight: 800;
        font-size: x-large;
        width: 100%;
        text-align: center;
        margin: 3rem 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        svg {
            color: rgb(146, 130, 36);
        }
    }

    .round2Best {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        gap: 1rem;
        
        &:not(:has(.customTable)) {
            margin-bottom: 3rem;
        }

        .day {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 70%;
            margin: 0 auto;

            .dayTitle {
                font-weight: 600;
                font-size: large;
                max-width: max-content;
                margin: 0 auto;
            }

            div.toppers {
                margin: 0 auto;
                width: min(400px, 80%);
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .student {
                    font-size: larger;
                    display: flex;

                    .position {
                        font-weight: 600;
                        font-style: italic;
                        margin-right: 1rem;
                    }

                    .nameAndRegNo {
                        display: flex;
                        width: 100%;

                        .regNo {
                            margin-left: .5rem;
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }


    .round3 {
        div.teamBoxesContainer {
            // background-color: red;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            // grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
            margin-bottom: 5rem;


            div.teamBox {
                // font-size: 1rem;

                margin: 0 auto;
                max-width: max-content;
                padding: 0;
                background-color: rgba(100, 100, 100, .07);
                border: 1px solid rgba(40, 40, 40, .2);
                border-radius: 8px;

                .teamPosition {
                    font-size: xxx-large;
                    font-weight: 900;
                    font-style: italic;
                    transform: translateY(-1.5rem) translateX(.5rem);
                    max-width: max-content;
                    max-height: max-content;
                }

                .teamNumber {
                    font-size: x-large;
                    font-weight: 600;
                    width: 100%;
                    text-align: center;
                }

                .teamDetails {
                    width: 250px;
                    max-width: 500px;
                    margin: 0 1rem;
                    padding: 1rem;
                    // border: 1px solid black;

                    .teamMarks {
                        .teamMarksTitle {
                            font-size: large;
                            font-weight: 600;
                        }
                    }

                    .teamBoxMembers {
                        margin: 1rem 0;

                        .teamMembersTitle {
                            font-size: large;
                            font-weight: 600;
                            margin-bottom: .4rem;
                        }

                        .member {
                            margin-bottom: 1rem;
                            font-weight: 500;
                            display: flex;
                            flex-direction: column;

                            .regNo {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .round5 {
        margin-bottom: 5rem;
    }

    .splitter {
        margin-bottom: 2rem;
        width: 90%;
        height: 2px;
        margin: 0 auto;
        -webkit-mask-image: linear-gradient(to left, transparent, white 10%, white 90%, transparent);
        background-color: rgba(black, .2);
        border-radius: 8px;
    }
}


@media (max-width: 700px) {
    .resultBigTitle {
        padding-left: 2rem;
    }

    .customTable {
        transform: scale(0.7);

        .header {
            font-size: 10px;
        }

        .rows {
            font-size: 8px;
        }

        .pagination {
            transform: scale(.7);
        }
    }

    .round2Best {
        .student {
            display: flex;
            justify-content: center;
            align-items: center;

            .position {
                font-size: x-large;
            }
            
            .nameAndRegNo {
                flex-direction: column !important;

                .name {
                    word-wrap: normal;
                }

                .regNo {
                    margin-left: 0 !important;
                }
            }
        }
    }
}