



.geekfestResults {
    padding: 2rem;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        h1 {
            color: rgb(11, 77, 11);
            font-size: 3rem;
            margin-bottom: 0;
        }
    }
}