div.intro {
    width: 100vw !important;
    background-image: url("../assets/klu_bg_blurred.jpg");
    // filter: blur(1px);
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    // animation: fadeIn 3s ease forwards;

    margin-bottom: 0 !important; // removing to set no space between intro div and section divider

    div.divider {
        margin-bottom: 8rem !important;    // and setting it here
    }

    div.name {
        font-size: clamp(1.3rem, 0.4391rem + 3.8261vw, 3.5rem);
        font-weight: 700;
        animation: blurIn 2s ease forwards;
    }

    div.inst {
        font-size: 30px;
        font-weight: 500;
        animation: fadeIn 4s ease forwards;
    }
}

div.about {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    // background-color: orange;

    div.titleAndContent {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // background-color: blue;
        flex: 5;
        gap: 2rem;
        // width: 80%;

        div.title {
            font-size: clamp(0.7rem, 0.4391rem + 3.8261vw, 2.5rem);
            font-weight: 700;
        }
        
        div.content {
            // background-color: yellow;
            // margin-left: 1rem;
            // max-width: 90%;
            word-wrap: break-word;
            font-size: clamp(.6rem, 0.2391rem + 3.8261vw, 1.4rem);
            // font-size: 1.5rem;
        }
    }

    div.imageContainer {
        display: flex;
        // background-color: red;
        flex: 3;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        // border: 2px solid red;
        // padding: 0 1rem;

        div.image div.imageComp {
            height: 370px;
            width: 350px;
            transition: box-shadow .1s ease;
            // transform: perspective(2500px) rotateX(13deg) rotateY(341deg) rotateZ(185deg);
            // transform: rotateX(-2deg) rotateY(-30deg) rotateZ(3deg);
            // transform: rotate(2deg);
            // transform: rotateY(330deg) rotateZ(2deg);
            // transform: scale3d(2.5, 1.2, 0.3);

            &:hover {
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
                // transform: rotateZ(3deg) rotateY(3deg) scale(1.01);
                // transform: rotateX(-4deg) rotateY(-35deg) rotateZ(3deg);
            }
        }
    }
}

@keyframes blurIn {
    0% {
        -webkit-filter: blur(3px);
    }
    50% {
        -webkit-filter: blur(7px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
