.image-container {
	// background-color: #ccc;
	// border: 2px solid rgba(0,0,0,.2);
	overflow: hidden;
	position: relative;
	max-height: max-content;
	border-radius: 14px;
	margin-bottom: 0px !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.imageFill {
	height: 100%;
	width: 100%;
	object-fit: fill;
	filter: blur(25px);
	z-index: 0;
}

.image {
	z-index: 1;
	// position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	align-items: flex-end;

	&.zoom {
		transform: translateY(-100%);
		object-fit: contain;
	}

	&.thumb {
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: all 0.4s ease-in-out;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: load 1s linear infinite;

		&.hasLoaded {
			opacity: 0 !important;
			transform: scale(0);
		}
	}

	&.hasLoaded {
		transition: opacity 0.4s ease-in-out;
		opacity: 1 !important;
		// background-color: blue;
	}
}

@keyframes load {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}