@import "Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

$text: #e0e1e1;

@mixin volkorn {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
}


.textShine {
    color: red;
    -webkit-mask-image: linear-gradient(-75deg, rgba(232, 232, 232, 0.75) 30%, #000 50%, rgba(242, 242, 242, 0.75) 70%);
    -webkit-mask-size: 200%;
    animation: shine 5s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.landing {
    font-family: "Outfit";
    scroll-snap-type: y proximity;
    overflow: auto;

    nav {
        max-height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(lighten($text, 20), .3);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        position: fixed;
        width: 96%;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%) translateY(-150%);
        border-radius: 10px;

        transition: transform .3s cubic-bezier(1 , 0 , 0 , 1);

        &.hidden {
            transform: translateX(-50%) translateY(-150%) rotateY(-90deg);
        }

        &.shown {
            transform: translateX(-50%) translateY(0) rotateY(0deg);
        }


        .logoContainer {
            margin-left: 1rem;

            img.gfgLogo {
                height: 70px;
                width: 70px;
                object-fit: contain;
            }
        }

        .rightMenu {
            margin-right: 1rem;

            button.menuButton {
                all: unset;

                z-index: 110 !important;
                cursor: pointer;
                border: 2px solid $background;
                background-color: rgba( lighten($text, 10) , .9);
                border-radius: 15px;
                padding: .75rem 2.5rem;
                
                transition: all .3s ease;

                &:hover {
                    background-color: $background;
                    color: $text;
                }
            }
        }
    }

    .fullScreenNav {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        z-index: 101;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.95);
        backdrop-filter: blur(4px);

        transition: all .25s cubic-bezier(1 , 0 , 0 , 1);

        &.open {
            transform: translateY(0);

            .fullScreenItemsContainer {
                .fullScreenItem {
                    opacity: 0;
                    transform: translateX(-100%);
                    animation: fadeInFromLeft .5s ease-out forwards;

                    // dynamically add a delay to each item.
                    // since it is not possible to find exact number of items present
                    // choose a number that is more than the number of items that will be present.
                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}n) {
                            animation-delay: #{$i * 0.1}s;
                        }
                    }
                }
            }
        }

        .closeMenuButton {
            all: unset;
            color: rgb(255, 99, 99);
            cursor: pointer;
            font-size: 4rem;
            font-weight: 800;
            font-family: sans-serif !important;
            position: absolute;
            right: 3rem;
            top: 1rem;

            &:hover {
                color: rgb(255, 151, 151)
            }
        }

        .fullScreenItemsContainer {
            width: 50vw;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            .fullScreenItem {
                a {
                    all: unset;
                    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);

                    color: $text; 
                    cursor: pointer;
                    padding: 1rem;
                    margin-left: 2rem;
                    font-size: 3rem;

                    transition: all .4s ease ;

                    &:hover, &:focus {
                        background-color: rgb(163, 252, 130);
                        color: $background !important;
                    }
                }
            }
        }
    }

    section.divider {
        scroll-snap-align: start;
        scroll-margin: 0 0 .5rem 0;
        height: 2rem;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color:rgba(0, 0, 0, 0.95);
        box-shadow: inset 0 0 200px 200px rgba(0, 0, 0, 0.5);
        color: #e7e7ff;


        div.bigText {
            @include volkorn();
            font-size: 2.5rem;
            font-weight: bolder;
        }

        div.subText {
            opacity: .9rem;
            font-size: 1rem;
            width: min(90%, 400px);
            text-align: center;
        }

    }

    // section.fullScreenSection {
    // }

    section.chapterIntro {
        overflow: hidden;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            background-color: #e0e1e1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.35;
            background-image:  linear-gradient(#3f3f3f 1px, transparent 1px), linear-gradient(to right, #3f3f3f 1px, transparent 1px);
            background-size: 30px 30px;
            mask-image: radial-gradient(circle, white, transparent);
            mask-position: 50% 50%;
            mask-size: 80%;
            mask-repeat: no-repeat;
            // transform: translateY(20deg);

            transform: rotateX(var(--rotateX));
        }

        .circlePatternContainer {
            position: fixed;
            height: 100vh;
            width: 60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;
            transition: none;

            &.left {
                left: 0;
                transform: translateX(-60%);
            }

            &.right {
                right: 0;
                transform: translateX(60%);
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                filter: hue-rotate(150deg);
                opacity: .2;
                margin: auto 0;

                animation: rotate 150s linear infinite;
            }
        }

        .rightBottomMenu {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0 1rem 1rem 0;

            .fadeAnim {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;    
            }
            
            .linksContainer, .copyrightInfo {

                background-color: lighten($text, 20);
                box-shadow: 0 -2px 10px 3px rgba(0, 0, 0, .2);
                border: 1px solid rgba(0, 0, 0, .1);
                border-radius: 13px;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .linksContainer {
                padding: .4rem;
                gap: .5rem;

                .linkBox {
                    height: 2.5rem;
                    width: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;

                    svg {
                        color: $background;

                        &:hover {
                            color: lighten($background, 30);
                        }
                    }
                }
            }

            .copyrightInfo {
                height: 2.5rem;
                padding: .4rem 1rem;
                gap: .25rem;
            }
        }
       

        // //////////////////////////////////////////////////////////////////
            
  
        // ///////////////////////////////////////////////////////////////

        .outlineText {
            font-size: 6rem;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px;
            opacity: .3;
            text-wrap: nowrap;
        }

        .bigText {
            @include volkorn();
            color: rgb(2, 69, 2);
            font-size: 5rem;
            font-weight: 600;
            text-align: center;
        }

        .subText {
            font-size: 1rem;
            font-weight: 500;
            width: min(90%, 400px);
            text-align: center;
        }

        .cardsContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: .15rem;
            transform: translateY(5rem);

            .card {

                .pin {
                    position: relative;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    z-index: 6 !important;
                }

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}n) {
                        z-index: $i;
                    }
                }

                &:hover {
                    z-index: 5;
                }

                &:nth-child(1) .cardContent { 
                    transform: rotateZ( -10deg ) translateY(-0px) translateX(1rem); 

                    &:hover {
                        transform: rotateZ( -10deg ) translateY(-0px) translateX(1rem) rotateX(10deg) scale(1.05); 
                    }
                }

                &:nth-child(1) .pin {
                    transform: translateX(600%) translateY(-.4rem) rotate(15deg);
                }

                &:nth-child(2) .cardContent { 
                    transform: rotateZ( -3deg ) translateY(-20px) translateX(.5rem); 

                    &:hover {
                        transform: rotateZ( -3deg ) translateY(-20px) translateX(.5rem) rotateX(10deg) scale(1.05); 
                    }
                }

                &:nth-child(2) .pin {
                    transform: translateX(550%) translateY(-1.3rem) rotate(15deg);
                }

                &:nth-child(3) .cardContent { 
                    transform: rotateZ( 5deg ) translateY(-20px) translateX(0rem); 

                    &:hover {
                        transform: rotateZ( 5deg ) translateY(-20px) translateX(0rem) rotateX(10deg) scale(1.05); 
                    }
                }

                &:nth-child(3) .pin {
                    transform: translateX(600%) translateY(-1.5rem) rotate(15deg);
                }

                &:nth-child(4) .cardContent { 
                    transform: rotateZ( 10deg ) translateY(5px) translateX(-.5rem); 

                    &:hover {
                        transform: rotateZ( 10deg ) translateY(5px) translateX(-.5rem) rotateX(10deg) scale(1.05); 
                    }
                }

                &:nth-child(4) .pin {
                    transform: translateX(500%) translateY(0) rotate(15deg);
                }

                .cardContent {
                    background-color: rgba(250, 250, 250, 0.95);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    border: 1px solid rgba(0, 0, 0, .8);
                    border-radius: 3px;
                    padding: 1rem .5rem .5rem .5rem;
                    width: 100px;
                    height: 100px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: .15rem;

                    cursor: pointer;
                    transform: rotateZ(-10deg);
                    transition: transform .3s ease !important;
                    
                    .cardImage {
                        position: relative;
                        width: 95px;
                        height: 90px;
                        object-fit: cover;

                        img {
                            border: 1px solid rgba(0, 0, 0, .4);
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .cardText {
                        font-size: 1rem;
                        font-weight: 500;
                        max-height: 30px;
                    }
                   
                }
            }

            .card {
                .cardTitle {
                    @include volkorn();
                    font-size: 2rem;
                    font-weight: 600;
                }

                .cardText {
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }

    section.eventsDiv {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@keyframes fadeInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@media screen and (max-width: 470px) {

    .chapterIntro {
        .subText {
            margin-bottom: 1rem;
        }

        .bigText {
            line-height: 5rem;
        }
    }

    .cardsContainer {
        transform: translateY(2.5rem) !important;
        .card {
            &:nth-child(4) .cardContent { 
                transform: rotateZ( 10deg ) translateY(-20px) translateX(-.5rem) !important; 
        
                &:hover {
                    transform: rotateZ( 10deg ) translateY(-20px) translateX(-.5rem) rotateX(10deg) scale(1.05) !important; 
                }
            }
            &:nth-child(4) .pin {
                transform: translateX(550%) translateY(-1.5rem) rotate(15deg) !important;
            }
        }
    }

    .linksContainer {
        transform: scale(.8) translateX(1.5rem) !important;
    }
    
}



