@import "./Variables.scss";


div.navBar {
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    // background-color: blue;
    padding: 0;
    // display: flex;
    // justify-content: space-between;
    // margin: 0 .75rem

    div.navBarWrap {
        // width: 100%;
        padding: 0 2rem 0 1rem;
        // background-color: yellow;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span.centerText {
            font-family: "Outfit";
            font-size: 30px;
            font-weight: 600;
        }

        div.logosContainer {
            // background-color: red;
            display: flex;
            // gap: 2rem;
            // margin-left: 2rem;

            img.navIcon {
                cursor: pointer;
                height: 100px;
                width: 100px;
                object-fit: contain;
            }
        }

        div.rightMenu {
            padding: 0.2rem;
            // min-height: calc(1rem + 50%) !important;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .menuLink {
                cursor: pointer;
                font-size: large;
                font-weight: 500;
            }
            
            .account {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            .iconAndGrid {
                // display: grid;
                // flex-direction: column;
                align-items: center;
                justify-content: center;

                .hamburger, .dropdown {
                    padding: 2rem 0;
                    cursor: pointer;
                }
                
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                
                .dropdown-content {
                    transform: translateX(-70%);
                    border-radius: 8px;
                    height: 0;
                    position: absolute;
                    background-color: $text;
                    // color: lighten(green, 1);
                    font-weight: 500;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    transition: height 100ms ease;

                    a {
                        all: unset !important;

                        &:hover {
                            color: lighten($text, 10) !important;
                        }
                    }

                    .toggle {
                        // background-color: red;
                        max-height: 100%;
                        margin: 0 auto;
                    }

                    .registerButton {
                        // background-color: red;
                        width: 100px !important;
                        border-radius: 8px;
                        border: 2px solid $background;
                        margin: 0 auto 1rem auto;
                        text-align: center;

                        &:hover {
                            background-color: $background;
                            color: $text;
                        }
                    }
                    
                    &.show {
                        // height: 300%;
                        height: max-content;
                        // display: block;
                    }
                }
                
                .dropdown-content * {
                    // color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                
                .dropdown-content *:hover {
                    background-color: lighten($text, 1);
                }
                
                .dropdown-content .accountField {
                    width: max-content;

                }
                
                

                .comingSoon {
                    // visibility: hidden;
                    position: relative;
                    // top: 4rem;
                    padding: 1rem;
                }
            }

            .dropDown {
                .button {
                    border-radius: 8px;

                    &:hover {
                        + .list {
                            height: 100%;
                            padding: 0.3rem 1rem;
                        }
                    }
                }

                .list {
                    position: absolute;
                    top: 100%;
                    border-radius: 8px;
                    position: relative;
                    background-color: rgba(white, 0.4);
                    // padding: .3rem 1rem;
                    // height: 0;
                    overflow: hidden;
                    // padding: 0;
                }
            }
        }
    }
}

div.section {
    // background-color: red;
    scroll-snap-align: start;
    width: 90%;
    margin: 0 auto;
    min-height: 80vh;
    // margin-bottom: 7rem;
}

@media (max-width: 500px) {
    .navBarWrap {
        .logosContainer {
            flex: 2;
            // justify-content: flex-end;
        }
        .rightMenu {
            // visibility: hidden;
            flex: 1;
            justify-content: flex-end !important;
        }
    }
}

