.memberDiv {
    display: block;
    background-color: rgba(black, 0.4);
    border-radius: 16px;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    // transform: scale(1) translateY(20px);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.visible {
        opacity: 1;
    }

    &.hide {
        display: none;
    }

    &:hover {
        transform: scale(1.005);
    }
    // padding: 1rem 2rem;

    // max-height: 100px;

    .memberDivWrapper {
        display: flex;
        justify-content: space-between;

        .visitButton {
            all: unset;
            position: relative;
            width: 120px;
            padding: 1rem;
            border-radius: 0 16px 16px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .nameAndId {
            padding: 1.5rem 2rem;
            min-width: 50%;

            .name {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: .6rem;
                font-size: clamp(1rem, 1.3rem, 1.6rem);
                font-weight: 500;

                span {
                    opacity: 0.7;
                    font-size: medium;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .memberDiv {
        .nameAndId {
            .name {
                flex-direction: column;
                gap: 0 !important;
                align-items: flex-start !important;
                margin-bottom: .2rem;
            }
        }
    }
}
