

.bubbles {
    position: fixed;
    top: 0;
    left: 0;
    // background-color: darkgoldenrod;
    height: 100%;
    width: 100vw;

    .bubble {
        position: absolute;
        top: 100%;
        transition: top 2s cubic-bezier(0.34, 0.71, 0.49, 1.01);
        z-index: -100;
        border-radius: 50%;


        &.c1 {
            background-color: rgb(240, 97, 97);
        }

        &.c2 {
            background-color: rgb(146, 229, 179);
        }

        &.c3 {
            background-color: rgb(162, 183, 219);
        }

        &.c4 {
            background-color: rgb(199, 158, 255);
        }

        &.c5 {
            background-color: rgb(255, 113, 158);
        }

        &.c6 {
            background-color: rgb(237, 226, 126);
        }

        
    }
}