@import "Variables";


.rocketIntro {
    background: $text;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    transition: opacity .5s ease !important;
    transition-delay: .5s !important;

    &.unmount {
        opacity: 0.01;
    }

    .rain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: 1;
        opacity: 1;
        transform: rotate(2deg);
        transition: opacity 1s ease;

        &.hidden {
            opacity: 0;
        }

        .drop {
            position: absolute;
            left: 20%;
            width: 2px;
            height: 50px;
            border-radius: 2px;
            background-color: darken($background, 10);
            animation: rain-fall .4s linear infinite;
        }

        @for $i from 1 through 100 {
            .drop:nth-child(#{$i}) {
                left: random(100) + vw;
                // top: random(100) + vh;
                animation-delay: random() + s;
            }
        }
    }

    
    
    .rocketContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(2deg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 300px;
        z-index: 2;
        overflow: hidden;
        
        .rocketImage {
            height: 100%;
            width: 100%;
            object-fit: contain;    
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
            backface-visibility: hidden;
            perspective: 1000px;
            transition: transform .5s ease;

            &.nitro {
                animation: fuckingGo .5s ease forwards;
            }
        }
    }

    .text {
        opacity: .75;
        position: absolute;
        left: 50%;
        bottom: 10vh;
        transform: translateX(-50%);
    }
   
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(1.5px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(3px, 0, 0);
    }
}

@keyframes fuckingGo {
    40% {
        transform: translateY(50px);
    }
    70% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(-80vh);
    }
}


@keyframes rain-fall {
    0% {
    transform: translateY(-100%);
    opacity: 0;
    }
    100% {
    transform: translateY(100vh);
    opacity: 1;
    }
}
