$navSize: 50px;


html, body, #root {
    height: max-content;
}

.base {
    background-color: rgb(23, 16, 34);
    color: white;
    height: max-content;
    width: 100vw;
    background-image: url("../assets/blur_texture.svg");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;

    .wrapper {
        backdrop-filter: blur(50px) brightness(0.8);

        nav.topNav {
            background: linear-gradient(to right, rgba(160, 160, 160, 0.1), rgba(190, 190, 190, 0.06));
            height: 100px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;

            .logo, .user:has(img) {
                height: 70px;
                width: 70px;

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .user img {
                cursor: pointer;
                border: 1px solid rgba(250, 250, 250, .6);

                &:hover {
                    border-color: rgba(250, 250, 250, .8);
                }
            }

            .user button {
                background-color: transparent;
                border: 1px solid rgba(200, 200, 200, .7);
                color: white;
                border-radius: 8px;

                &:hover {
                    border-color: rgb(200, 200, 200);
                    background-color: rgba(200, 200, 200, .3);
                }
            }
         }
    
        .round5 {
            margin: 0;
            width: 100vw;
    
            overflow: scroll;
    
            .bigText {
                height: 70vh;
                width: min(80vw, 1200px);
                margin: 0 auto;

                display: flex;
                flex-direction: column;
                gap: 2rem;

                justify-content: center;
                align-items: center;

                .title {
                    font-size: xx-large;
                    font-weight: 900;
                    text-align: center;
                    margin-bottom: 2rem;
                    background: linear-gradient(to left, rgb(186, 255, 186), rgb(204, 241, 251));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .about {
                    width: min(600px, 90%);
                    text-align: center;
                }

                .time {
                    opacity: .7;
                    font-weight: bold;
                }

                span.error {
                    margin-top: 1rem;
                    font-weight: 500;
                    color: rgb(255, 106, 20);
                    width: min(80%, 800px);
                    text-align: center;
                }

                .register {
                    max-width: max-content;
                    padding: 1rem 2rem;
                    background-color: transparent;
                    border: 1px solid rgba(200, 200, 200, .7);
                    color: white;
                    border-radius: 8px;

                    &:hover {
                        border-color: rgb(200, 200, 200);
                        background-color: rgba(200, 200, 200, .3);
                    }
                }
            }


            .timeline {
                margin: 1.5rem auto 0 auto;
                width: min(80vw, 1200px);

                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;

                .title {
                    font-size: x-large;
                    font-weight: 900;
                    margin-bottom: 3rem;

                    background: linear-gradient(to left, rgb(186, 255, 186), rgb(204, 241, 251));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .box {
                    border: 1px solid red;
                    padding: 2rem;
                    width: min(80%, 500px);
                    border-radius: 10px;
                    border-color: rgba(230, 230, 230, 0.3);
                    background: linear-gradient(135deg, rgba(50, 50, 50, .4), rgba(120, 120, 120, .3));

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    .stepTitle {
                        font-weight: 800;
                        font-size: large;
                        text-align: center;
                        letter-spacing: .075rem;
                    }

                    .stepAbout {
                        opacity: .8;
                        text-align: center;
                    }

                    .dateTime {
                        opacity: .6;
                        font-size: small;
                    }
                }

                .line {
                    background-color: rgba(230, 230, 230, 0.3);
                    width: 2px;
                    height: 50px;
                }

            }

            .contact {
                margin-top: 5rem;

                .title {
                    font-size: x-large;
                    font-weight: 900;
                    text-align: center;
                    margin-bottom: 2rem;
                    background: linear-gradient(to left, rgb(186, 255, 186), rgb(204, 241, 251));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .numbers {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    span {
                        font-weight: bold;

                        a {
                            font-style: italic;
                        }
                    }
                }
            }


            footer {
                margin-top: 4rem;
                font-size: 2rem;
                padding: 3rem 0;
                text-align: center;
                background-color: rgba(250, 250, 250, .1);
                font-weight: bolder;
                // color: rgb(102, 102, 102);
                filter: grayscale(100%);
                opacity: .3;
            }
    
        }



    }

}