div.bubblesBg {
    background-image: url("../assets/CirclePattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    min-height: 100vh !important;
    min-width: 100vw !important;
}

.rotate {
    animation: rotate 2s ease infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 700px) {
    div.bubblesBg {
        background-image: none !important;
    }
}
