



div.bubblesBg {
    background-image: url("../assets/Sample.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}