@import "./Variables.scss";



.slotBookPopup{
    z-index: 10;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(rgb(57, 57, 57), .8);
    backdrop-filter: blur(4px);

    font-size: medium;
    transition: all .2s ease;

    &.visible {
        opacity: 1 !important;

        .box {
            transform: scale(1);
        }
    }

    &.closed {
        opacity: 0;

        .box {
            transform: scale(.6);
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        
        padding: 1rem 1.2rem;

        background-color: rgba(white, .4);
        border: none;
        border-radius: 0 0 0 8px;
        color: rgba(rgb(240, 43, 43), .6);
        font-weight: 900;
        font-size: large;
        
        transition: all .2s cubic-bezier(0.41, 1, 0.44, 1.04);

        &:hover {
            background-color: rgba(white, .6);
            color: rgba(rgb(240, 43, 43), .8);
        }
    }


    .box {
        font-weight: 600;

        height: min(75%, 400px);
        width: min(90%, 700px);
        background-color: rgba(250, 250, 250, .9) !important;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .radioContainer {
            width: 90%;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;


            .radio {
                width: 65%;
                display: flex;
                justify-content: space-between;

                &.full {
                    text-decoration: line-through;
                    opacity: .7;
                }

                &.left {
                    text-decoration: none;
                    opacity: 1;
                }
            }

            .seats {
                font-size: small;
                opacity: .8;
            }

        }

        .note {
            font-weight: 500;
            color: rgb(102, 0, 0);
        }

        button {
            font-weight: 700;
            border-radius: 8px;
            background-color: transparent;
            transition: all .1s ease;

            &:hover, &:focus, &.active {
                background-color: $background;
                color: rgb(220, 220, 220);
            }
        }
    }
    
}



@media (max-width: 700px) {

    .slotBookPopup {
        font-size: small;
        

        .radioContainer {
            width: 90%;
            justify-content: center;
            align-items: center;

            .radio {
                max-width: max-content !important;
                flex-direction: column;

                label {
                    max-width: max-content;
                    font-size: small;
                }

                .seats {
                    padding-left: 1.5rem;
                    max-width: max-content;
                }
            }
        }
    }
    
   
}