.accomidation-div {
    width: 100%;
    margin-bottom: 1%;
}
.accomidation-checkbox {
    display: flex;
    align-items: center;
    text-align: right;
}
.check-line {
    padding-left: 1vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.inputs1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    flex-wrap: wrap;
    padding-bottom: 3%;
    gap: 16px;
}
.accomidation-buttons {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 50%;
    transform: none;
}
/* From Uiverse.io by adamgiebl */ 
.button1 {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    left: 0%;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  .button1:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  .button1:active {
    transform: scale(0.9);
  }
/* From Uiverse.io by simontheonlyone */ 
.button-close {
  position: relative;
  width: 6em;
  height: 4em;
  border: none;
  background: none;
}

.X {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: #000000;
  transform: rotate(45deg);
}

.Y {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -40%;
  left: 70%;
  width: 3em;
  height: 1.7em;
  font-size: 16px;
  background-color: rgb(254, 255, 225);
  color: #000;
  border: 1px solid #000;
  pointer-events: none;
  opacity: 0;
}

.button-close:hover {
  background-color: rgb(210, 0, 0);
}

.button-close:active {
  background-color: rgb(130, 0, 0);
}

.button-close:hover > .close {
  animation: close 0.2s forwards 1.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}
/* From Uiverse.io by WhiteNervosa */ 
/* Variation of work by @mrhyddenn for Radios */

.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: var(--accent-color, #a3e583);
  }
  
  #cbx2:checked + .check svg {
    stroke: var(--accent-color, #a3e583);
  }
  
  #cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }

  /* input box */
  /* From Uiverse.io by alexruix */ 
.input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }
   
   .input:focus ~ .user-label, input:valid ~ .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: #000000;
    padding: 0 .2em;
    color: #ffffff;
   }

   .input-group {
    position: relative;
   }
   
   .input1 {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input1:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }
   
   .input1:focus ~ .user-label, input:valid ~ .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
   }

   /* From Uiverse.io by adamgiebl */ 
.button2 {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ec1e1e;
    background: transparent;
    cursor: pointer;
    margin-left: 22%;
    transition: ease-out 0.5s;
    border: 2px solid #d74f4f;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #c15a5a;
  }
  
  .button2:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #e71e1e;
  }
  
  .button2:active {
    transform: scale(0.9);
  }
  @media (max-width: 480px) {
    /* .accomidation-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
    }
    .check-line {
        text-align: right;
    } */
  }