@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.quote {
    font-family: "Aquire", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    font-size: x-large;
  }
  @font-face {
    font-family: 'Aquire';
    src: url('fonts/Aquire400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aquire';
    src: url('fonts/AquireBold700.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aquire';
    src: url('fonts/AquireLight300.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
