@import "./styles/Variables.scss";

body.dark {
    color: $text;
    background-color: $background;
}

button {
    background-color: lighten($background, 10);
    border: $text 1px solid;
    color: $text;
}

div.navBar {
    background-color: rgba($background, 0.75);
    // box-shadow: 0px 10px 25px 1px lighten($background, 3);
    border: 1px solid white;
    border-color: transparent transparent lighten($background, 15) transparent;
    transition: border-color 0.2s ease;

    &:hover {
        border-color: transparent transparent lighten($background, 25)
            transparent;
    }
}

// GeeksForGeeksStudentChapter KARE Section Image Darken in Home Page
div.intro.section {
    box-shadow: 0px 0 0 0px #00000040, inset 0 0 0 1000px rgba($background, 0.8);
}

div.team {
    .memberContainer {
        background: lighten($background, 5);
        border: 1px solid lighten($background, 10);

        .memberInfo {
            .name {
                color: rgb(3, 162, 3);
            }

            .role {
                color: $text;
            }
        }

        .links {
            button {
                background-color: lighten($background, 10);
                border: 1.5px solid lighten($background, 20) !important;

                &:hover {
                    background-color: lighten($background, 15);
                }
            }
        }

        &:hover {
            background-color: lighten($background, 7);
            border-color: lighten($background, 13);
        }
    }
}

div.events {
    .carousel {
        .flickity-viewport {
            background-color: lighten($background, 1);
            border: 2px solid lighten($background, 10);

            div.eventSlide {
                :nth-child(1) {
                    border-color: $text $text transparent $text;
                }

                :last-child {
                    // border: 1px solid $text;
                    border-color: transparent $text $text $text;
                }

                div.eventDetails {
                    width: 100%;
                    padding: 1rem 0 1rem 1rem;
                    background-color: lighten($background, 2);
                }

                &:hover {
                    div.eventDetails {
                        background-color: lighten($background, 3);
                    }
                }
            }
        }
    }
}

div.dividerContainer {
    div.divider {
        background-color: lighten($background, 25);
    }
    div.downButton {
        background-color: $background;
        border: 5px solid lighten($background, 25);
        transition-property: color, background-color, border-color;
        transition-duration: 0.3s;

        .icon {
            color: lighten($background, 35);
        }

        &:hover {
            background-color: lighten($background, 2);
            border-color: lighten($background, 30);

            .icon {
                color: lighten($background, 40);
            }
        }
    }
}

div.sectionTitle {
    color: rgb(23, 199, 0);
}

div.chapterMember {
    background: linear-gradient(to left, rgba($text, 0.088), rgba($text, 0.1));
    border: 2px solid rgba($text, 0.2);

    img.chapterMemberImage {
        &:hover {
            box-shadow: 0 7px 30px 2px rgba($text, 0.2);
        }
    }

    div.otherDetails {
        background-color: rgba(white, 0.05);
    }
}

div.allMembersContainer {
    div.memberDiv {
        background: linear-gradient(
            lighten($background, 6),
            lighten($background, 9)
        );
        border: 2px solid lighten($background, 20);

        .visitButton {
            background-color: lighten($background, 15);
            transition: background-color 0.3s ease;

            &:hover {
                background-color: lighten($background, 20);
            }
        }
    }
}

// LIGHT STYLES ================================

body.light {
    background-color: $text;
    color: $background;

    a:hover {
        color: #747bff;
    }
    button {
        background-color: $text;
        color: $background;
        border: $background 1px solid;
    }

    div.navBar {
        background-color: rgba($text, 0.75);
        border: 1px solid white;
        border-color: transparent transparent darken($text, 15) transparent;
        transition: border-color 0.2s ease;

        &:hover {
            border-color: transparent transparent darken($text, 25) transparent;
        }
    }

    div.sectionTitle {
        color: rgb(15, 129, 0);
    }

    div.intro.section {
        box-shadow: 0px 0 0 0px #00000040, inset 0 0 0 1000px rgba($text, 0.8);
    }

    div.team {
        .memberContainer {
            background-color: darken($text, 5);
            border: 1px solid lighten($background, 50);

            .memberInfo {
                .name {
                    color: rgb(0, 104, 0) !important;
                }

                .role {
                    color: $background;
                }
            }

            .links {
                button {
                    background-color: darken($text, 10);
                    border: 1.5px solid darken($text, 20) !important;

                    &:hover {
                        background-color: darken($text, 5);
                    }
                }
            }

            &:hover {
                background-color: darken($text, 4);
                border-color: lighten($background, 40);
            }
        }
    }

    div.events {
        .carousel {
            .flickity-viewport {
                background-color: darken($text, 4);
                border: 2px solid darken($text, 7);

                div.eventSlide {
                    :nth-child(1) {
                        border-color: $background $background transparent
                            $background;
                    }

                    :last-child {
                        // border: 1px solid $background;
                        border-color: transparent $background $background
                            $background;
                    }

                    div.eventDetails {
                        background-color: darken($text, 8);
                    }
                }
            }
        }
    }

    div.dividerContainer {
        div.divider {
            background-color: darken($text, 25);
        }
        div.downButton {
            background-color: $text;
            border: 5px solid darken($text, 25);
            transition-property: color, background-color, border-color;
            transition-duration: 0.3s;

            .icon {
                color: lighten($background, 35);
            }

            &:hover {
                background-color: lighten($text, 2);
                border-color: darken($text, 20);

                .icon {
                    color: lighten($background, 40);
                }
            }
        }
    }

    div.chapterMember {
        background: linear-gradient(
            to left,
            rgba($background, 0.01),
            rgba($background, 0.06)
        );
        border: 2px solid rgba($background, 0.1);
        box-shadow: 0 0 4px 2px rgba(black, 0.3);


        img.chapterMemberImage {
            &:hover {
                box-shadow: 0 0 4px 2px rgba(black, 0.5);

            }
        }

        div.otherDetails {
            background-color: rgba(black, 0.05);
        }
    }

    div.allMembersContainer {
        div.memberDiv {
            background: linear-gradient(
                darken($text, 2),
                darken($text, 6)
            );
            border: 2px solid darken($text, 15);

            .visitButton {
                background-color: darken($text, 13);
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: darken($text, 10);
                }
            }
        }
    }
}
