@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
.body-form  {
    background-color: rgba(245, 254, 246, 0.84);
}
.bg1 {
    position: fixed;
    margin-left: 29%;
    margin-top: 33vh;
    z-index: -1;
    opacity: 50%; 
}
.main-form {
    width: 70%;
    margin-left: 15%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 3%;
}
h1 {
    margin: 0px;
}
form {
    margin-top: 4%;
    width: 90%;
    margin-left: 5%;
}
.form {
    width: 58%;
    background-color: white;
    color: black;
    padding-top: 2%;
    padding-bottom: 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    border-radius: 10px;
}
  .contact-blog {
    margin-left: 4%;
    width: 45%;
}
.font1 {
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-left: 5%;
}
.form-1, .form-2 {
    margin-top: 4%;
}
.form-1-1, .form-1-2 {
  width: 45%;
}
.form-1-2 {
  margin-right: 5%;
}
/* .form-1-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */
input[type="file"] {
  color: transparent;
}
label {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(0, 0, 0, 0.769);
    font-size: 13px;
    font-weight: 400;
  }
  .input1 {
    margin-top: 1.5%;
    background-color: #f1f1f1;
    border: none;
    height: 35px;
    width: 95%;
    color: black;
    padding-left: 10px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
  .input1-1 {
    margin-top: 1.5%;
    background-color: #f1f1f1;
    border: none;
    height: 35px;
    width: 100%;
    color: black;
    padding-left: 10px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
  .checkbox {
    margin-left: 2%;
    margin-right: 2%;
    accent-color: #757575;
  }
  
  .checkbox-1 {
    margin-left: 2%;
    margin-right: 2%;
  }
  .checkbox-div {
    display: flex;
    align-items: center;
    margin-top: 1%;
  }
  .form-div-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* caption div */
  .caption1 {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
  }
  .caption2 {
    padding-top: 1%;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(52, 52, 52);
  }
  .caption3{ 
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 4%;
  }
  .contacts-phone {
    display: flex;
    width: 30%;
    margin-top: 2%;
    align-items: center;
  }
  .phone {
    height: 20px;
    margin-top: -5%;
  }
  .message-text {
    font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: black;
  padding-top: 3%;
  margin: 0;
  }
  @media (max-width: 600px) {

    .main-form {
        display: inline;
    }
    .form, .contact-blog {
        width: 90%;
        margin-left: 5%;
    }
    .contact-blog {
        margin-top: 8%;
    }
    .contacts-phone {
        width: 40%;
    }
    .phone {
        height: 15px;
    }
    .font1 {
      font-size: 25px;
    }
    .bg1 {
        width: 90%;
        margin-left: 0%;
        margin-left: 5%;
      }
}





/* buttn styles */

/* From Uiverse.io by satyamchaudharydev */ 
/* this button is inspired from this -- s://www.newline.co/pricing */
.register-btn {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(64, 192, 87);
    transition: all 0.2s;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .register-btn:hover {
    background-image: linear-gradient(
      to right,
      rgb(250, 82, 82),
      rgb(250, 82, 82) 16.65%,
      rgb(190, 75, 219) 16.65%,
      rgb(190, 75, 219) 33.3%,
      rgb(76, 110, 245) 33.3%,
      rgb(76, 110, 245) 49.95%,
      rgb(64, 192, 87) 49.95%,
      rgb(64, 192, 87) 66.6%,
      rgb(250, 176, 5) 66.6%,
      rgb(250, 176, 5) 83.25%,
      rgb(253, 126, 20) 83.25%,
      rgb(253, 126, 20) 100%,
      rgb(250, 82, 82) 100%
    );
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
  }
  
  @keyframes dance6123 {
    to {
      background-position: var(--width);
    }
  }
  
  /* From Uiverse.io by nikk7007 */ 
  .button {
    --color: #66B86A;
    background-color: rgb(66, 177, 66);
    padding: 0.5em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: rgb(10, 25, 30);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   
  
   .hidden2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%); /* Change translateX to 100% */
    transition: all 1s;
  }
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  .show  {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .show2  {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }




  /* loader css */
  /* From Uiverse.io by abrahamcalsin */ 
.dot-spinner {
    --uib-size: 1.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
  