@import "./styles/Variables.scss";

// GLOBAL ============================================================================================
* {
    transition: all 0.15s ease;
}

::-webkit-scrollbar {
    transition: all 2s !important;
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: lighten($background, 30);
    border-radius: 20px;
    visibility: hidden;
    transition: visibility 1s;
}

html:hover ::-webkit-scrollbar-thumb {
    visibility: visible;
}

.toggle {
    /*  Dark mode animated toggle. Codepen: https://codepen.io/mrozilla/pen/OJJNjRb  */
    --size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #3e3ec2;
    transition: all 500ms;
}

.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: #ffaa00;
    box-shadow: inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
            var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size);
}

// END GLOBAL  =======================================================================================

body {
    font-family: "Jost";
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    transition: color background-color 100ms ease;
}

body.dark {
    color: $text;
    background-color: $background;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: lighten($background, 10);
    border: $text 1px solid;
    color: $text;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}

div.navBar {
    background-color: rgba($background, .95);
    box-shadow: 0px 10px 25px 1px lighten($background, 7);
}

// GeeksForGeeksStudentChapter KARE Section in Home Page
div.intro.section {
    box-shadow: 0px 0 0 0px #00000040,inset 0 0 0 1000px rgba($background, .8);
}



// LIGHT STYLES ================================

body.light {
    background-color: $text;
    color: $background;

    a:hover {
        color: #747bff;
    }
    button {
        background-color: $text;
        color: $background;
        border: $background 1px solid;
    }

    div.navBar {
        background-color: rgba($text, .95);
        box-shadow: 0px 10px 15px 4px darken($text, 20);
    }

    div.intro.section {
        box-shadow: 0px 0 0 0px #00000040,inset 0 0 0 1000px rgba($text, .8);
    }
}

.out {
    width: 98%;
    margin: 0 auto;
    margin-top: 8rem;
    // background-color: blue;
    // background: rgba(255, 255, 255, .05);
}
